
body
{
  background:url(images/nature-bg.jpg);
     width: 100%;
     height: 1000px;  
}

#feed
{
    height: 400px;
    width: 1000px;
    background-color: aliceblue;
    margin-top: 250px;
    margin-left: 150px;
    border: 2px solid black;
    font-family: algerian;
    color: dimgray;
}

#fee font
{
margin-top: 20px
    
}